/.git
/.github
/.agent
/node_modules
/public/build
/tests
/.env
/.env.*
/docker-compose*.yml
/Dockerfile*
/monitoring
/docs
/@docs
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
/vendor
