* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
tests/Fixtures/EstimateGeneration/benchmarks/**/*.pdf binary
tests/Fixtures/EstimateGeneration/acceptance-candidate/**/*.pdf binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
