/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
scripts/nginx-config-admin.conf
scripts/nginx-config-lk.conf
scripts/SETUP_OTHER_SERVERS_INSTRUCTIONS.md
scripts/ssl-setup-lk.sh
scripts/ssl-setup-admin.sh
scripts/nginx-config-lk.conf

# Generated documentation files
/public/docs/admin_api.html
/public/docs/admin_api.json
/public/docs/mobile_api.html
/public/docs/mobile_api.json
app/Console/Commands/Authorization/AssignOwnerRolesCommand.php
